node_modules/
dist/
*.tsbuildinfo
.DS_Store
coverage/
.turbo/
tmp-test.pdf
implementations/typescript/packages/pdf/assets/NotoSansSC-Regular.otf
implementations/typescript/packages/pdf/assets/NotoSansSC-Regular.woff

# C# (future implementations/csharp)
[Bb]in/
[Oo]bj/
*.user
*.suo
.vs/
