node_modules/
dist/
*.tsbuildinfo
.DS_Store
coverage/
.turbo/
tmp-test.pdf
implementations/typescript/packages/pdf/assets/NotoSansSC-Regular.otf
implementations/typescript/packages/pdf/assets/NotoSansSC-Regular.woff

# C# (future implementations/csharp)
[Bb]in/
[Oo]bj/
*.user
*.suo
.vs/

# Dart / Flutter (implementations/flutter)
implementations/flutter/.dart_tool/
implementations/flutter/.packages
implementations/flutter/build/
implementations/flutter/doc/api/
implementations/flutter/pubspec.lock
